.index {
  .banner {

    swiper,
    swiper image {
      width: 100%;
      height: 450rpx;
    }
  }

  .chooseCard {

    padding:20rpx;

    .title {
      height: 88rpx;
      line-height: 88rpx;
      font-size: 30rpx;
      color: #333;
      font-weight: bold;
      margin-left: 12rpx;
    }

    .card {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      .li{
        width: 49%;
      }
    }


  }

  .history {
    height: 100rpx;
    line-height: 100rpx;
    text-align: center;
  }
}